<div style="text-align:center">
  <h1>Catalogue v0.0.1</h1>
</div>

<div class="container">

  <div class="column modal-container">
    <beyonder-modal 
      *ngIf="showModal"
      [inClassname]="inClassname" 
      [outClassname]="outClassname" 
      (onClose)="removeAngularModal($event)"
    >
      <div modal-header>
        {{modalTitle}}
      </div>

      <div modal-body>
        {{modalBody}}
      </div>

      <div modal-footer>
        {{modalFooter}}
      </div>
    </beyonder-modal>
  </div>

  <div id="react-container" class="column modal-container">
  </div>
</div>

<div class="container">
  <div class="column">
    <code>
      <pre>
      import &#123; ModalComponent &#125; from '@beyonder/angular-components/modal';

      @NgModule(&#123;
        declarations: [
          ...,
          ModalComponent
        ]
      &#125;)
      export class MyModule &#123;&#125;

      &lt;beyonder-modal [inClassname]=&quot;'{{inClassname}}'&quot; [outClassname]=&quot;'{{outClassname}}'&quot; (onClose)="someHandler($event)"&gt;
        &lt;div modal-header&gt;
          {{modalTitle}}
        &lt;/div&gt;

        &lt;div modal-body&gt;
          {{modalBody}}
        &lt;/div&gt;

        &lt;div modal-footer&gt;
          {{modalFooter}}
        &lt;/div&gt;
      &lt;/beyonder-modal&gt;
      </pre>
    </code>
  </div>
  <div class="column">
    <code>
      <pre>
      import &#123; Modal, ModalHeader, ModalBody, ModalFooter &#125; from '@beyonder/react-components/build/dist/modal';

      &lt;Modal inClassname=&quot;{{inClassname}}&quot; outClassname=&quot;{{outClassname}}&quot; onClose=&#123;this.someHandler&#125;&gt;
        &lt;ModalHeader&gt;
          {{modalTitle}}
        &lt;/ModalHeader&gt;

        &lt;ModalBody&gt;
          {{modalBody}}
        &lt;/ModalBody&gt;

        &lt;ModalFooter&gt;
          {{modalFooter}}
        &lt;/ModalFooter&gt;
      &lt;/Modal&gt;
      </pre>
    </code>
  </div>
</div>
