.container {
  display: flex;
  flex-direction: row;

  .column {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
  }

  .modal-container {
    margin: 5px;
    height: 500px;

    &:before {
      display: block;
      position: absolute;
      z-index: 20;
      margin: 10px;
      font-size: 1.4em;
      color: rgba(255, 255, 255, 0.8);
    }

    &:nth-child(1):before {
      content: 'Angular';
    }

    &:nth-child(2):before {
      content: 'React';
    }
  }

}
